{% extends "base.html" %}

{% block title %} Hello World! {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        
        <div class="jumbotron"> 

        <div class="panel panel-danger">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">The Gandhi Family Portal</h3>
		  	</div>
		  	<div class="panel-body">
		    	<p>This portal is for registered family members only - please <a href="{{ url_for('login') }}">login</a> to continue.</p>
		    	<p>If you feel like you should be allowed access please contact <a href="mailto:kishen.gandhi.1990@gmail.com">Kishen</a></p>
		  	</div>
		</div>

        </div>
        
        
    </div>
</div>
{% endblock %}