{% extends "base.html" %}

{% block title %} Testimonials - {{ idol.users.username}} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">


        
        <div class="panel panel-primary">
		  	<div class="panel-heading">
		    	<h3 class="panel-title text-center">{{ idol.users.username }} Testimonials</h3>
		  	</div>
		  	<div class="panel-body">
		  		<table class="table table-striped table-hover">
			  		<thead>
			  			<tr>
			  				<th>Testimonial</th>
			  				<th>By</th>
			  				<th>Date</th>
			  				{% if session.get('is_admin') == 1 %}
			  				<th>Action</th>
			  				{% endif %}
			  			</tr>
			  		</thead>
			  		<tbody>
			    	{% for testimonial in testimonials.items %} 
			    	<tr>
			    		<td>{{ testimonial.testimonial| markdown }}</td>
			    		<td>{{ testimonial.users.fullname }}</td>
			    		<td>{{ testimonial.date.strftime('%d-%m-%Y') }}</td>
			    		{% if session.get('is_admin') == 1 %}
			    		<td><a href="{{ url_for('idol_testimonials', idol_id=idol.id) }}?id={{ testimonial.id }}">Del</a></td>
			    		{% endif %}
			    	</tr>
			    	{% endfor %}		        
			        </tbody>
		     	</table>
		  	</div>
		</div>

        	<ul class="pager">

        		{% if testimonials.has_prev %}
        		<li class="previous"><a href="{{ url_for('idol_testimonials', idol_id=idol.id, page=testimonials.prev_num) }}">&larr; Newer</a></li>
            	{% else %}
                <li class="previous disabled"><a href="#">&larr; Newer</a></li>
            	{% endif %} | 
            	{% if testimonials.has_next %}
            	<li class="next"><a href="{{ url_for('idol_testimonials', idol_id=idol.id, page=testimonials.next_num) }}">Older &rarr;</a></li>
            	{% else %}
                 <li class="next disabled"><a href="#">Older &rarr;</a></li>
            	{% endif %}
  				
  				
			</ul>
            

        <br />
        
    </div>
</div>


{% endblock %}