{% extends "base.html" %}

{% block title %} Login! {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        
        

        <div class="panel panel-primary">
		  	<div class="panel-heading">
		    	<h3 class="panel-title text-center">Login !</h3>
		  	</div>
		  	<div class="panel-body">
		    	{% if error %}
		        <div class="error text-danger"> {{ error }}</div>
		        {% endif %}
		        <!-- Use template macros as you shouldn't be repeating yourself -->
		        {% from "_formhelper.html" import render_field %}
		        
		        <form method="POST" action="{{ url_for('login') }}" role="form">
		            
		            <!-- csrf token -->
		            {{ form.hidden_tag() }}
		            
		            {{ render_field(form.username, class='form-control', placeholder="Username") }} 
		            {{ render_field(form.password, class='form-control', placeholder="Password") }}
		            
		            
		            
		            <center><button type="submit" class="btn btn-primary" >Login</button></center>
		            
		        </form>
		  	</div>
		</div>

		<div class="well well-sm text-center">
			<a href="#">Forgotten Password?</a>
		</div>

        
        
        
    </div>
</div>
{% endblock %}